.task {
    padding-top: 10px;
}

.taskLabel, .trashButton {
    display: inline-block;
}

.taskLabel {
    width: 400px;
    text-align: start;
}

.trashButton:hover {
    cursor: pointer;
}

.trashButton:hover > path {
    fill: #3C86F499;
}

.tagandNameWrapper {
    display: inline-flex;
    flex-direction: column;
    margin-left: 10px;
}

.tagandNameWrapper > .tag {
    margin-top: 5px;
}

  
@media only screen and (max-width: 638px) {
    .taskLabel {
      width: 300px;
    }
  }
  