#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 15em;
    height: 30em;
    border: 2px solid #AB9880;
    border-radius: 30px;
    padding: 20px;
}
#screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    width: 13em;
    height: 28em;
}

#roundedButton {
    position: absolute;
    width: 1.4em;
    height: 1.4em;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #AB9880;
    bottom: 0.8%;
    left: 50%;
    transform: translateX(-50%);
}

#speaker {
    top: 2.8%;
    position: absolute;
    width: 2.2em;
    height: 0.4em;
    border-radius: 30px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
}

#camera {
    position: absolute;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    background-color: black;
    top: 2.8%;
    left: 35%;
}

#proximitySensor {
    position: absolute;
    width: 0.25em;
    height: 0.25em;
    border-radius: 50%;
    background-color: black;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.sideButton {
    position: absolute;
    border-radius: 15%;
    background-color: #b3ada6;
}

#topButton {
    top: 6%;
    left: -1.5%;
    width: 0.2em;
    height: 1em;
}

#middleButton {
    top: 12%;
    left: -1.5%;
    width: 0.2em;
    height: 2em;
}

#bottomButton {
    top: 22%;
    left: -1.5%;
    width: 0.2em;
    height: 2em;
}