@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.weather {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather > span {
    font-family: 'Nunito', sans-serif;
}

.weather > img {
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

.city {
    color: #838383;
    margin-left: 50px;
}
