.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 12px;
  }
  
  .dropbtn {

    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    min-width: 160px;
    border-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #3C86F459;
    color: black;
    cursor: pointer;
}
  
  .dropdown-content :first-child {  border-radius: 25px 25px 0 0;}
  .dropdown-content :last-child {  border-radius: 0 0 25px 25px;}
  

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  /* .selecedOption {
    background-color: #3C86F4;
    color: white;
  } */

  .noFilter {
    background-color: #3C86F426;
    color: #0053CF;
  }